.blog-card {
    position: relative;
    text-align: start;
    height: 25rem;
    width: 43rem;
    margin: 0 5rem 2rem 5rem;
    border: solid white 1px;
    border-radius: 25px;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

.blog-card-img {
    float: right;
    height: 10rem;
    width: 20rem;
    border-radius: 25px;
    opacity: 0.3;
    z-index: 0;
}

.blog-card-title {
    position: absolute;
    margin: -8rem 2rem 0 2rem;
    max-width: 30rem;
    font-family: 'Bruno Ace SC'; 
    color: #012754;
    z-index: 1;
}

.blog-card-text {
    position: absolute;
    color: #000;
    z-index: 1;
    margin: 0 2rem 0 2rem;
    line-height: 1.4rem;
}

.blog-link-btn {
    display: inline-block;
    height: 3rem;
    width: 40rem;
    margin: 10rem 0 0 2rem;
    line-height: 3rem;
    border-radius: 15px;
    color: #fff;
    font-size: large;
    font-weight: 900;
    font-family: 'Comfortaa';
    text-align: start;
    background-image: linear-gradient(to right, #0D1980, #0B0F47);
}

.blog-ship-emoji {
    margin: 0 23.5rem 0 1rem;
}

.blog-link-btn:hover {
    transform: scale(1.03);
}