/* .carousel-btns-container {
    display: flex;
    justify-content: space-evenly;
}

.current-blog {
    display: flex;
    flex-direction: row;
}

.arrow-btns {
    background: none;
    border: none;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indicator-btns {
    border: none;
    cursor: pointer;
    background: none;
    margin: 0.5rem;
    color: #fff;
}

.indicator-btns-active {
    border: none;
    cursor: pointer;
    background: none;
    margin: 5px;
    color: #ff6a00;
    transform: scale(1.5);
}

.arrow-btns:hover, .indicator-btns:hover{
    cursor: pointer;
    color: #ff6a00;
    transform: scale(1.5);
}
 */

@media(0px <= width <= 999px){


    .arrow-btns-prev, .arrow-btns-next, .indicators {
        display: none;
    }
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/

@media(1000px <= width){
    .blogs-carousel {
        justify-content: space-evenly;
    }

    .carousel-btns-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .current-blog {
        display: flex;
        flex-direction: row;
    }

    .arrow-btns-next {
        margin-left: 0.5rem;
    }

    .arrow-btns-prev, .arrow-btns-next {
        background: none;
        border: none;
        color: #fff;
        transform: scale(2.5);
    }

    .arrow-btns-prev:hover, .arrow-btns-next:hover{
        cursor: pointer;
        color: #ff6a00;
        transform: scale(3.5);
    }

    .indicators {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0.7rem;
    }

    .indicator-btns {
        border: none;
        cursor: pointer;
        background: none;
        margin: 0.5rem;
        color: #fff;
    }

    .indicator-btns-active {
        border: none;
        cursor: pointer;
        background: none;
        margin: 5px;
        color: #ff6a00;
        transform: scale(1.5);
    }

    .indicator-btns:hover{
        cursor: pointer;
        color: #ff6a00;
        transform: scale(1.5);
    }
}

/*
    .slider {
        width: 100vw;
        overflow: hidden;
    }

    .slide-container {
        width: calc(100vw * 4);
        transform: translate3d(0, 0, 0);
        animation-name: moveSlide;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    .slide {
        display: inline-block;
        width: 100vw;
        height: 300px;
        background-image: url('https://picsum.photos/300/200');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .slide:nth-child(2) {
        background-image: url('https://picsum.photos/400/200');
    }

    .slide:nth-child(3) {
        background-image: url('https://picsum.photos/500/200');
    }

    .slide:nth-child(4) {
        background-image: url('https://picsum.photos/500/200');
    }

    .slide:last-child(4) {
        background-image: url('https://picsum.photos/600/200');
    }

    @keyframes moveSlide {
        0% {
            transform: translate3d(0, 0, 0);
        }

        10% {
            transform: translate3d(0, 0, 0);
        }

        15% {
            transform: translate3d(-25%, 0, 0);
        }

        25% {
            transform: translate3d(-25%, 0, 0);
        }

        30% {
            transform: translate3d(-50%, 0, 0);
        }

        40% {
            transform: translate3d(-50, 0, 0);
        }

        45% {
            transform: translate3d(-75%, 0, 0);
        }

        55% {
            transform: translate3d(-75%, 0, 0);
        }

        60% {
            transform: translate3d(-50%, 0, 0);
        }

        70% {
            transform: translate3d(-50%, 0, 0);
        }

        75% {
            transform: translate3d(-25%, 0, 0);
        }

        85% {
            transform: translate3d(-25%, 0, 0);
        }

        90% {
            transform: translate3d(0, 0, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    } 
*/