.carousel-btns-container {
    display: flex;
    justify-content: space-evenly;
}

.current-blog {
    display: flex;
    flex-direction: row;
}

.arrow-btns {
    background: none;
    border: none;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indicator-btns {
    border: none;
    cursor: pointer;
    background: none;
    margin: 0.5rem;
    color: #000F83;
}

.indicator-btns-active {
    border: none;
    cursor: pointer;
    background: none;
    margin: 5px;
    color: #fff;
}

.arrow-btns:hover, .indicator-btns:hover{
    cursor: pointer;
    color: #fff;
}

