.writings-section {
    display: flex;  
    gap: 3%;
    padding: 2%;
}

.blog-img-container {
    flex-grow: 1;
    min-width: 50%;
}

.blog-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;        
}

.blog-posts {
    flex-grow: 1;
    max-width: 50%;
    height: 100%;
    list-style-type: none;
    text-align: left;
    text-align: center;
    border-radius: 5px;
}   

.blog-post {
    height: 40px;
}

.blog-titles {
    color: black;
    font-family: 'Bruno Ace SC', 'cursive';
}

.blog-post:hover {
    cursor: pointer;
    color: rbga(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: scale(1.1);
}
