.resume-titles, .resume-sub-titles {
    font-family: 'Bruno Ace SC';
    margin: 0.5rem 0 0.5rem;
}

ul {
    margin-left: 1rem;
    list-style-type: circle;
}

li {
    font-family: 'Comfortaa';
}

@media(0px <= width <= 999px){
    .resume {
        display: flex;
        flex-direction: column;
    }

    .resume-btn {
        position: absolute;
        height: 3rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 15px;
        color: #fff;
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Comfortaa';
        text-align: start;
        background-image: linear-gradient(to right, #0D1980, #0B0F47);
    }

    .project-ship-emoji {
        margin: 0 3.5rem 0 0.5rem;
    }

    .resume-intro {
        padding-left: 0.5rem;
    }

    .resume-intro-text {
        margin-top: 4rem;
    }
    
    .skill-icons {
        margin: 1rem 0 1rem 0;
    }

    .resume-scroll {
        height: 40rem;
        text-align: left;
        overflow: auto;
        color:#B4D6FF;
        padding:10px;
    }
    
    .resume-section-titles {
        margin: 0.5rem 0 0.5rem;
        color: #F4F9FF;
        font-family: 'Bruno Ace SC', 'cursive';
        font-size: 3rem;
        cursor: default;
        margin: 2.5rem 0 1rem 0;
        cursor: none;
    }
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/

@media(1000px <= width){
    .resume {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .resume-intro {
        display: flex;
        flex-direction: column;
        max-width: 25rem;
    }
    
    .resume-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0.3rem 1rem 0.3rem 0.5rem;
        width: 91%;
        padding-right: 5%;
        text-align: right;
        border-radius: 15px;
        color: #fff;
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Comfortaa';
        background-image: linear-gradient(to right, #0D1980, #0B0F47);
    }
    
    .resume-ship-emoji {
        margin: 0 6.5rem 0 1rem;
    }
    
    .resume-btn:hover {
        transform: scale(1.03);
        box-shadow: 0 0 0.5rem 0.5rem rgba(180, 214, 255, 0.3);
    }
    
    .resume-intro-text {
        margin-top: 5rem;
    }
    
    .skill-icons {
        margin: 1rem 5rem 0 0;
    }
    
    .resume-scroll {
        height: 40rem;
        width: 25rem;
        text-align: left;
        overflow: auto;
        color:#B4D6FF;
        padding:10px;
    }
    
    .resume-section-titles {
        color: #F4F9FF;
        font-size: 3rem;
        cursor: default;
        margin: 2.5rem 0 1rem 0;
        cursor: none;
    }
    
    .resume-scroll::-webkit-scrollbar {
        width: 0.2rem;
        display: block;
    }
    
    .resume-scroll::-webkit-scrollbar-track {
        display: none;
    }
     
    .resume-scroll::-webkit-scrollbar-thumb {
        background: #fff; 
        border-radius: 10px;
    }
}