.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.resume-intro {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
}

.resume-btn {
    position: absolute;
    height: 3rem;
    width: 23rem;
    line-height: 3rem;
    border-radius: 15px;
    color: #fff;
    font-size: large;
    font-weight: 900;
    font-family: 'Comfortaa';
    text-align: start;
    background-image: linear-gradient(to right, #0D1980, #0B0F47);
}

.resume-ship-emoji {
    margin: 0 6.5rem 0 1rem;
}

.resume-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0.5rem 0.5rem rgba(180, 214, 255, 0.3);
}

.resume-intro-text {
    margin-top: 5rem;
}

.skill-icons {
    margin: 1rem 5rem 0 0;
}

.resume-scroll {
    height: 40rem;
    width: 25rem;
    /* margin-left: 0rem; */
    text-align: left;
    /* float: right; */
    overflow: auto;
    color:#B4D6FF;
    padding:10px;
}

.resume-section-titles {
    color: #F4F9FF;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 3rem;
    cursor: default;
    margin: 2.5rem 0 1rem 0;
}

.resume-titles, .resume-sub-titles {
    margin: 0.5rem 0 0.5rem;
}

ul {
    margin-left: 1rem;
    list-style-type: circle;
}

.resume-scroll::-webkit-scrollbar {
    width: 0.2rem;
    display: block;
}

/* Track */
.resume-scroll::-webkit-scrollbar-track {
    display: none;
}
 
/* Handle */
.resume-scroll::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
}
