.name {
    align-self: flex-start;
    padding-left: 18%;
    font-family: 'Porter Sans Block';
    color: white;
}

.bio {
    max-width: auto;
    align-self: center;
    color: white;
    padding: 0 33% 0 33%;
    text-align: left;
}

