.name {
    align-self: flex-start;
    margin-left: 18%;
    font-family: 'Bruno Ace SC', 'cursive';
    color: #95C6FF;
    cursor: default;    
}

.bio-title {
    display: flex;
    flex-direction: row;
}

.type-writer {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    padding-left: 1rem;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 25px;
    font-weight: bold;
    color: #ff6a00;
}

.bio {
    max-width: auto;
    align-self: center;
    padding: 0 33% 0 33%;
    /* text-align: left; */
}
