@media(0px <= width <= 999px){   
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4rem 0 2rem 0.5rem;
    } 

    .footer-logo img {
        height: 2rem;
        width: 2rem;
    }
    
    .footer-stamps {
        margin-bottom: 0.5rem;
        font-family: 'Comfortaa';
        font-size: 20px;
        color: #95C6FF;
    }

    .footer-link-icons img {
        height: 2rem;
        width: 2rem;
        margin: 1rem 1rem 0 0;
    }

    .footer-planets {
        display: none;
    }

    .lottie-img {
        display: none;
    }
}

/***************************************************/
/***************************************************/
/***************************************************/
@media(width <= 899px) {
    .footer {
      width: 90%;
    }
}

@media(1000px <= width){
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        padding-left: 3rem;
        margin: 4rem 1rem 2rem 0.5rem;
    }

    .footer-logo img {
        height: 50px;
        width: 50px;
    }
    
    .footer-stamps {
        font-family: 'Comfortaa';
        font-size: 20px;
        color: #95C6FF;
    }
    
    .footer-planets {
        width: 400px;
    }  
    
    .footer-icons-planets {
        height: 6rem;
        width: 6rem;
        cursor: pointer;
    }
    
    .email-icons-lottie {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2rem 0 0;
    }

    .footer-link-icons img {
        margin: 1rem 1rem 0 0;
    }
    
    .lottie-img {
        padding-right: 1rem;
    }
}