.contact-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.contact-logo {
  flex: 1;
  padding-left: 1rem;
}

.contact-stamps {
    font-family: 'Comfortaa';
    font-size: 20px;
    color: #95C6FF;
}

.contact-planets {
    width: 400px;
}  

.contact-icons-planets {
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}

.email-icons-lottie {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.email-icons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.lottie-img {
    padding-right: 1rem;
}