/* .

.sun, .resume-planet, .projects-planet, .writings-planet {
    position: absolute;
}

.sun:hover, .about-planet:hover, .projects-planet:hover, .blogs-planet:hover, .resume-planet:hover, .link-icons:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
*/


.projects-planet {
    position: relative;
    top: -60rem;
    right: -18rem;
}

.writings-planet {
    position: relative;
    top: -59rem;
    right: -25rem;
}
.resume-planet {
    position: relative;
    top: -53rem;
    right: -42.5rem;
}


.sun {
    position: relative;
    top: -50rem;
}

.projects-planet {
    position: relative;
    top: -60rem;
    right: -18rem;
}


#about-title, #projects-title, #writings-title, #resume-title{
    position: relative;
    font-family: 'Bruno Ace SC', 'cursive';
    color: white;
    transform-origin: 0 0;
    transform: rotate(-30deg);
    padding-left: 6rem;
}

.intro {
    position: relative;
    top: -60rem;
    right: -18rem;
    width: 200px;
    height: 350px;
}

.intro-name {
    font-family: 'Bruno Ace SC', 'cursive';
    cursor: default;
    color: #95C6FF;
}

.link-icons {
    margin: 0.5rem 1rem 0 0;
}