.orbital-paths {
    min-height: 100%;
    max-height: 1264px;;
    width: 100%;
    max-height: 100vh;
}

.intro {
    position: absolute;
    width: 200px;
    height: 350px;
    text-align: left;
    left: 75%;
    top: 50%;
    margin-right: 5%;
    color: white;
}

.intro-name {
    font-family: 'Bruno Ace SC', 'cursive';
    cursor: default;
    color: #95C6FF;
}

.link-icons {
    margin: 5px 10px 2px 5px;
}

.titles {
    position: absolute;
    margin-top: 0;
    padding-left: 60%;
    z-index: 100;
    font-family: 'Bruno Ace SC', 'cursive';
    color: white;
    transform-origin: 0 0;
    transform: rotate(-30deg);
}

.sun {
    position: absolute;
    left: 0%;
    top: 9%;
    transition: all .2s ease-in-out; 
}

.contact-planet {
    position: absolute;
    left: 52%;
    top: 20%;
    border-radius: 100px;
    transition: all .2s ease-in-out; 
}

.projects-planet {
    position: absolute;
    left: 25%;
    top: 6%;
    transition: all .2s ease-in-out; 
}

.writings-planet {
    position: absolute;
    left: 28%;
    top: 48%;
    transition: all .2s ease-in-out; 
}

.sun:hover, .about-planet:hover, .projects-planet:hover, .writings-planet:hover, .contact-planet:hover, .link-icons:hover{
    cursor: pointer;
    transform: scale(1.1);
}
