/* .

.sun, .resume-planet, .projects-planet, .writings-planet {
    position: absolute;
}
*/

.sun {
    position: relative;
    top: -50rem;
}

.projects-planet {
    position: relative; 
    top: -60rem;
    right: -18rem;
}

.writings-planet {
    position: relative;
    top: -59rem;
    right: -25rem;
}

.resume-planet {
    position: relative;
    z-index: 2;
    top: -53rem;
    right: -42.5rem;
}

.projects-planet {
    position: relative;
    top: -60rem;
    right: -18rem;
}

.sun-img:hover, .about-planet-img:hover, .projects-planet-img:hover, .writings-planet-img:hover, .resume-planet-img:hover, .link-icons:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}


#about-title, #projects-title, #writings-title, #resume-title{
    position: relative;
    font-family: 'Bruno Ace SC', 'cursive';
    color: white;
    transform-origin: 0 0;
    transform: rotate(-30deg);
    padding-left: 6rem;
}

#projects-title {
    margin-right: -10rem;
}

.intro {
    position: relative;
    top: -75rem;
    right: -95rem;
    width: 350px;
    height: 350px;
    font-size: 32px;
}

.intro-name {
    font-family: 'Bruno Ace SC', 'cursive';
    cursor: default;
    color: #95C6FF;
    cursor: none;
}

.link-icons {
    margin: 2rem 1rem 0 0.7rem;
    height: 2.5rem;
    border-radius: 25px;
}

.link-icons:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(180, 214, 255, 0.3);
}