.mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    color: white;
    background-color: #0D1980;
}

.mobile-logo-title-container {
    display: flex;
    flex-direction: row;
}

.mobile-view-logo {
    height: 2rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.mobile-view-title {
    padding: 1.2rem 0;
    font-family: 'Bruno Ace SC', 'cursive';
    color: #fff;
}

.mobile-nav-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobile-nav-links {
    display: none;
    width: 100%;
}

.mobile-nav-links.active {
    display: flex;
}

.mobile-nav-links li {
    display: block;
    padding: 1rem;
    font-family: 'Bruno Ace SC', 'cursive';
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: white;
}

.mobile-toggle-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 2.3rem;
    right: 1rem;
    width: 35px;
    height: 25px;
}

.mobile-toggle-btn .bars {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}