.App {
  text-align: center;
  border: solid black 5px;
  background-color: #080A3E;

  
}

.section-titles {
  color: whitesmoke;
  padding: 2%;
  font-family: 'Bruno Ace SC', 'cursive';
  cursor: default;
}

/* .navbar {
  height: 40px;
  position: sticky; 
  top: 0;
  padding-top: 10px;
} */

/* .links {
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
} */

/* div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 80%;
    min-width: 100%;
    transform: translate(-50%, -50%);
} */

.header-container {
  position: relative;
  height: 100vh;
  max-height: 500px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 1; */
  height: 100vh;
  max-height: 1300px;
  margin-top: 20%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  max-height: 1300x;
  padding: 0 2% 5% 2%;
}

/* .writings-container {
  /display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  align-self: center;
  max-height: 500px;
  margin-top: 200px;
  background-color: #080A3E;
} */

.blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-grow: 1; */
  height: 100vh;
  max-height: 1300px;
  margin-top: 50%;
  padding: 20% 5% 0 5%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  min-height: 100vh;
  margin-top: 25px;
}

a {
  text-decoration: none;
}