.App {
  text-align: center;
}

.section-titles {
  color: whitesmoke;
  padding: 2%;
  font-family: 'Bruno Ace SC', 'cursive';
  cursor: default;
}

.navbar {
  height: 40px;
  position: sticky; 
  top: 0;
  padding-top: 10px;
  color: black;
  background-color: aliceblue;
  border: solid 2px;
}

.links {
  text-decoration: none;
  display: inline;
  padding: 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

/* div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 80%;
    min-width: 100%;
    transform: translate(-50%, -50%);
} */

.header-container {
  position: relative;
  min-height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 100vh;
}

.projects-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; */
  min-height: 100vh;
  margin: 25px 2% 0 2%;
}

.writings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  align-self: center;
  /* min-height: 100vh;
  margin-top: 25px; */
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  margin-top: 25px;
}

a {
  text-decoration: none;
}