.App {
  text-align: center;
}

.navbar {
  height: 600px;
  color: black;
}

.links {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 25px;
  border: 2px solid black
}

.about {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  margin-top: 25px;
  border: 2px solid black
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 25px;
  border: 2px solid black
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 25px;
  border: 2px solid black
}