@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  /* flex-grow: 1; */
  min-height: 100vh;
  max-width: 1264px;
  margin: auto;
  padding: 0;
  background-color: #16196F;

  
}

:-webkit-scrollbar {
  display: none;
}

/* Center application on el with ID root, not the body el */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  /* flex-grow: 1; */
}

p {
  text-align: left;
  font-family: 'Comfortaa';
  color: #95C6FF;
}
