body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: navy;
}

/* Center application on ele with ID root, not the body el */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 {
  font-family: 'Porter Sans Block', sans-serif;                                    
}